{include file="template/head" /}

<body>
<div class="wap-container">
  <article class="Hui-admin-content clearfix">
    <div class="panel">
      <div class="panel-body">
        <div class="row clearfix">
          <input type="hidden" value="0" id="count">

          <div class="col-xs-12 col-sm-3 col-md-2">
            <div class="row clearfix mb-10">
              <span class="col-xs-12 form-item-control">
                <input type="text" class="input-text" id="oldTypeName" placeholder="输入原类型">
              </span>
            </div>
          </div>

          <div class="col-xs-12 col-sm-3 col-md-2">
            <div class="row clearfix mb-10">
              <span class="col-xs-12 form-item-control">
                <input type="text" class="input-text" id="newTypeName" placeholder="输入新类型">
              </span>
            </div>
          </div>

          <div class="col-xs-12 col-sm-3 col-md-2">
            <div class="row clearfix mb-10">
              <span class="col-xs-12 form-item-control">
                <button type="button" class="btn btn-success radius" onclick="RefreshTable(true)"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel mt-20">
      <div class="panel-body">
        <div class="clearfix">
          <span class="f-l">
            <button class="btn btn-primary radius" onclick="openFrom('添加','ChangeRuleAdd')"><i class="Hui-iconfont">&#xe600;</i> 添加</button>
            <button class="btn btn-primary radius" onclick="openNewFrom('编辑','ChangeRuleEdit?id=')"><i class="Hui-iconfont">&#xe60c;</i> 编辑</button>
          </span>
        </div>

        <div class="clearfix mt-20">
          <table class="table table-border table-bg table-sort">
            <thead>
            <tr class="text-c">
              <th width="80">唯一码</th>
              <th width="60">类型</th>
              <th width="30">模糊匹配</th>
              <th width="140">转换方式</th>
              <th width="500">备注</th>
            </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </article>
</div>

{include file="template/indexjs" /}

<script type="text/javascript">
  var myDataTable;

  $(function(){
    initBind();
  });

  function initBind() {
    initDataTable('.table-sort', 'ChangeRule');
    tabledblclick('.table-sort', '编辑', 'ChangeRuleEdit');
  }

  function retrieveData( sSource, aoData, fnCallback ) {
    aoData.push(
            {"name": "oldTypeName", "value": $('#oldTypeName').val()},
            {"name": "newTypeName", "value": $('#newTypeName').val()}
    );

    postData(sSource, aoData, fnCallback);
  }
</script>

{include file="template/footer" /}