{include file="template/head" /}

<body>
<div class="wap-container">
  <article class="Hui-admin-content clearfix">
    <div class="panel">
      <div class="panel-body">
        <div class="clearfix">
          <span class="f-l">
              <button type="button" class="btn btn-primary radius" onclick="openFrom('添加','MenuAdd')"><i class="Hui-iconfont">&#xe600;</i> 添加</button>
              <button type="button" class="btn btn-primary radius" onclick="openNewFrom('编辑','MenuEdit?id=')"><i class="Hui-iconfont">&#xe60c;</i> 编辑</button>
          </span>
        </div>

        <div class="clearfix mt-20">
          <table class="table table-border table-bg table-sort">
            <thead>
            <tr class="text-c">
              <th width="250">唯一码</th>
              <th width="20"></th>
              <th width="200">菜单名称</th>
              <th width="500">连接地址</th>
              <th width="150">描述</th>
              <th width="40">排序</th>
              <th width="60">状态</th>
            </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </article>
</div>

{include file="template/indexjs" /}

<script type="text/javascript">
  var myDataTable;

  $(function(){
    initBind();
  });

  function initBind() {
    var o = new Array();
    o['aoColumns'] = [
      {"sClass": ""},
      {"sClass": ""},
      {"sClass": ""},
      {"sClass": ""},
      {"sClass": ""},
      {"sClass": ""},
      {"sClass": "td-status"}
    ];
    initDataTable('.table-sort', "{:url('Menu')}", o);
    tabledblclick('.table-sort', '编辑', 'MenuEdit');
  }

  function retrieveData( sSource, aoData, fnCallback ) {
    postData(sSource, aoData, fnCallback);
  }

  function changeStatus(obj,id) {
    _changeStatus(obj, id, "{:url('MenuChangeStatus')}");
  }
</script>

{include file="template/footer" /}