<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta name="applicable-device" content="pc,mobile"/>

    <title>【{$data.itemName}_{$data.cityName}{$data.itemName}楼盘】房价,户型,开盘时间详情-{$Think.config.system.web_name}官网</title>
    <meta name="keywords" content="{$data.itemName},{$data.cityName}{$data.itemName},{$data.itemName}房价,{$data.itemName}楼盘详情" />
    <meta name="description" content="{$Think.config.system.web_name}为您提供{$data.itemName}售楼处电话、楼盘房价、相册图片、户型图、地理位置、周边配套等信息,以及{$data.itemName}最新动态、优惠信息等.了解更丰富全面{$data.cityName}{$data.itemName}详细信息,就上{$Think.config.system.web_name}官网."/>

    <link rel="stylesheet" href="../statics/plugin/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../statics/index/css/main.css">
    <link rel="stylesheet" href="../statics/index/css/coupon.css">
    <link rel="stylesheet" href="../statics/plugin/iconfont/iconfont.css">

    <script src="../statics/index/js/jquery-3.3.1.min.js"></script>
    <script src="../statics/plugin/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
</head>

<body class="bg-body">
<!-- 顶部导航 -->
<div>
    <nav class="top-title navbar navbar-expand-lg navbar-light bg-white border-bottom border-aa hidden">
        <div>
            <a class="navbar-brand text-cain" href="tel:{$Think.config.company.400}"><small>咨询热线：{$Think.config.company.400}</small></a>
        </div>

        <div class="justify-content-end hidden-xl hidden-lg hidden-md hidden-sm">
            <a class="btn btn-outline-ggg btn-sm" href="tel:{$Think.config.company.400}"><span class="iconfont">&#xe60e;</span><small> 点击拨打</small></a>
        </div>
    </nav>
</div>

<!-- 顶部导航 -->
<header id="top">
    <nav class="navbar navbar-expand-lg navbar-light bg-title justify-content-start">
        <a class="navbar-brand" href="../">
            <img class="toplogo" src="../statics/index/images/logo.png">
            <span class="title text-white"> {$data.itemName}</span>
        </a>
    </nav>
</header>