<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{$Think.config.system.web_name}</title>
    <meta name="keywords" content="房产,房价,新开楼盘,新房,新房团购,楼市,楼盘信息,{$Think.config.system.web_name}官网" />
    <meta name="description" content="{$Think.config.system.web_name}官网是专业的房产信息网，提供及时的楼市资讯、权威的购房指导服务、最新的楼盘优惠政策、便捷的看房团服务，查询更多楼盘信息请上{$Think.config.system.web_name}官网。"/>

    <link rel="stylesheet" href="../statics/plugin/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../statics/index/css/main.css">

    <script type="text/javascript" src="../statics/index/js/jquery-3.3.1.min.js"></script>
    <script src="../statics/plugin/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
</head>

<body class="bg-body">
<!-- 顶部导航 -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <a class="navbar-brand" href="../"><img class="toplogo" src="../statics/index/images/logo.png"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav h8">
                <li class="nav-item pr-5"><a class="nav-link" href="../">首页</a></li>
                <li class="nav-item pr-5"><a class="nav-link" href="../apartment/">全新楼盘</a></li>
                <li class="nav-item pr-5"><a class="nav-link" href="../shops/">全新商铺</a></li>
                <li class="nav-item pr-5"><a class="nav-link" href="../villas/">全新别墅</a></li>
                <li class="nav-item pr-5"><a class="nav-link" href="../about/">关于我们</a></li>
            </ul>
        </div>

        <div class="justify-content-end hidden-esm hidden-sm hidden-md">
            <a href="#" class="btn btn-sm btn-outline-ggg">{$Think.config.company.400}</a>
        </div>
    </nav>
    <div class="pb-5"></div>
    <div class="pb-4"></div>
</header>
