<!-- 团购报名 -->
<div class="row text-white pb-3">
    <div class="col-12">
        <button type="button" class="coupon coupon-bg-bb"
                data-toggle="modal"
                data-target="#consultationModal"
                data-whatever="在线报名|{$Think.config.company.400}">
            <div class="content">
                <img src="../statics/index/images/icon_4.png">
                <div class="n">
                    <marquee direction="up" height="30" scrolldelay="100" scrollamount="2">
                        <div class="p-0">
                            <p>恭喜 赵** 186****2087 报名成功</p>
                            <p>恭喜 彭** 159****7638 报名成功</p>
                            <p>恭喜 翟** 150****3942 报名成功</p>
                            <p>恭喜 王** 136****8463 报名成功</p>
                            <p>恭喜 郑** 189****5821 报名成功</p>
                            <p>恭喜 李** 136****9289 报名成功</p>
                            <p>恭喜 刘** 151****0328 报名成功</p>
                            <p>恭喜 周** 137****4523 报名成功</p>
                            <p>恭喜 陶** 138****4107 报名成功</p>
                            <p>恭喜 王** 139****4064 报名成功</p>
                            <p>恭喜 冯** 187****2712 报名成功</p>
                            <p>恭喜 吕** 138****3228 报名成功</p>
                            <p>恭喜 金** 139****8610 报名成功</p>
                            <p>恭喜 魏** 135****6614 报名成功</p>
                            <p>恭喜 鲁** 138****0945 报名成功</p>
                            <p>恭喜 马** 136****8196 报名成功</p>
                            <p>恭喜 袁** 152****1193 报名成功</p>
                            <p>恭喜 柳** 159****6393 报名成功</p>
                            <p>恭喜 薛** 135****2126 报名成功</p>
                            <p>恭喜 雷** 137****2384 报名成功</p>
                        </div>
                    </marquee>
                </div>
            </div>
            <div class="l">
                在线<br>报名
            </div>
        </button>
    </div>
</div>