{include file="template/head" /}

<body>
<div class="wap-container">
  <article class="Hui-admin-content clearfix">
    <div class="panel">
      <div class="panel-body">
        <div class="row clearfix">
          <div class="pd-5 bg-1 bk-gray mt-20">
            <a href="../download/zhewan191125.apk" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe640;</i> Android版下载</a>
          </div>
        </div>

        <div class="clearfix">
          <p>注意：无法在微信中下载app,<br>请打开左上角按钮选择浏览器进行下载。</p>
        </div>
      </div>
    </div>
  </article>
</div>

{include file="template/indexjs" /}


{include file="template/footer" /}