{include file="template/head" /}

<body>
<div class="wap-container">
  <article class="Hui-admin-content clearfix">
    <div class="panel">
      <div class="panel-body">
        <div id="tab-system" class="HuiTab">
          <div class="tabBar cl">
            <span>跟进信息</span>
            <span>客户信息</span>
            <span>其它信息</span>
          </div>

          <div class="tabCon">
            <div class="panel">
              <div class="panel-body">
                <div class="row clearfix">
                  <div class="col-xs-12 col-sm-3 col-md-2 mb-10">
                    <span class="select-box">
                      <select class="select" id="saType">
                        <option value="">全部类型</option>
                        {voList name="cList" id="cl"}
                        <option value="{$cl.id}">{$cl.name}</option>
                        {/voList}
                      </select>
                    </span>
                  </div>

                  <div class="col-xs-12 col-sm-3 col-md-2 mb-10">
                    <input type="text" class="input-text datetimepicker-input" id="search-datetime-start" placeholder="开始日期" >
                  </div>

                  <div class="col-xs-12 col-sm-3 col-md-2 mb-10">
                    <input type="text" class="input-text datetimepicker-input" id="search-datetime-end" placeholder="截止日期" >
                  </div>

                  <div class="col-xs-12 col-sm-3 col-md-2 mb-10">
                    <button type="button" class="btn btn-success radius" onclick="RefreshTable(true)"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
                  </div>
                </div>

                <div class="clearfix">
                  <table class="table table-border table-bg table-sort">
                    <thead>
                    <tr class="text-c">
                      <th width="100">唯一码</th>
                      <th width="50">类型</th>
                      <th width="660">跟进内容</th>
                      <th width="40">跟进人</th>
                      <th width="120">跟进时间</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="tabCon">
            <form class="form form-horizontal" id="form-menu-edit" method="post" >
              <input type="hidden" id="id" name="id">

              <div class="row clearfix">
                <label class="form-label col-xs-12 col-sm-2"><span class="c-red">*</span>来源：</label>
                <div class="form-controls col-xs-12 col-sm-4">
                  <span class="select-box" >
                    <select class="select" id="source" disabled="disabled">
                      {voList name="bList" id="l"}
                      <option value="{$l.id}">{$l.name}</option>
                      {/voList}
                    </select>
                  </span>
                </div>

                <div class="form-controls col-xs-12 col-sm-3">
                  <span class="select-box" >
                    <select class="select" id="level" disabled="disabled">
                      <option value=""></option>
                      {voList name="dList" id="l"}
                      <option value="{$l.id}">{$l.name}</option>
                      {/voList}
                    </select>
                  </span>
                </div>

                <div class="form-controls col-xs-12 col-sm-3">
                  <span class="select-box" >
                    <select class="select" id="atype" disabled="disabled">
                      {voList name="aList" id="l"}
                      <option value="{$l.id}">{$l.name}</option>
                      {/voList}
                    </select>
                  </span>
                </div>
              </div>

              <div class="row clearfix">
                <label class="form-label col-xs-12 col-sm-2"><span class="c-red">*</span>姓名：</label>
                <div class="form-controls col-xs-12 col-sm-7">
                  <input type="text" class="input-text" id="name" disabled="disabled">
                </div>
                <div class="form-controls col-xs-3 col-sm-3">
                  <span class="select-box" >
                    <select class="select" id="sex" disabled="disabled">
                      <option value="0">未知</option>
                      <option value="1">先生</option>
                      <option value="2">女士</option>
                    </select>
                  </span>
                </div>
              </div>

              <div class="row clearfix">
                <label class="form-label col-xs-12 col-sm-2"><span class="c-red">*</span>电话：</label>
                <div class="form-controls col-xs-12 col-sm-7">
                  <input type="text" class="input-text" id="tel" disabled="disabled" >
                </div>
                <div class="form-controls col-xs-12 col-sm-3">
                  <input type="text" class="input-text" id="orgName" disabled="disabled" >
                </div>
              </div>

              <div class="row clearfix">
                <label class="form-label col-xs-12 col-sm-2">归属人：</label>
                <div class="form-controls col-xs-12 col-sm-10">
                  <input type="text" class="input-text" id="aname" disabled="disabled" >
                </div>
              </div>

              <div class="row clearfix">
                <label class="form-label col-xs-12 col-sm-2">项目：</label>
                <div class="form-controls col-xs-12 col-sm-10">
                  <input type="text" class="input-text" id="itemname" disabled="disabled" >
                </div>
              </div>

              <div class="row clearfix">
                <label class="form-label col-xs-12 col-sm-2">备注：</label>
                <div class="form-controls col-xs-12 col-sm-10">
                  <textarea class="textarea textarea-article" id="description" name="description" placeholder="100个字符以内" disabled="disabled" ></textarea>
                </div>
              </div>
            </form>
          </div>

          <div class="tabCon">
            <form class="form form-horizontal" >
              <div class="row clearfix">
                <label class="form-label col-xs-12 col-sm-2"><span class="c-red">*</span>录入人：</label>
                <div class="form-controls col-xs-12 col-sm-4">
                  <input type="text" class="input-text" id="cname" disabled="disabled" >
                </div>

                <label class="form-label col-xs-12 col-sm-2"><span class="c-red">*</span>录入时间：</label>
                <div class="form-controls col-xs-12 col-sm-4">
                  <input type="text" class="input-text" id="ctime" disabled="disabled" >
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>

{include file="template/addjs" /}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
  $(function() {
    initData();
    initBind();
  });

  function initData() {
    $('#id').val("{$list.id}");
    $('#source').val("{$list.source}");
    $('#level').val("{$list.level}");
    $('#atype').val("{$list.atype}");
    $('#sex').val("{$list.sex}");
    $('#name').val("{$list.name}");
    $('#tel').val("{$list.tel}");
    $('#orgName').val("{$list.orgName}");
    $('#aname').val("{$list.aname}");
    $('#itemname').val("{$list.itemname}");
    $('#description').val("{$list.description}");
    $('#cname').val("{$list.cname}");
    $('#ctime').val("{$list.ctime}");

    var myDate = new Date();
    $('#search-datetime-start').val(myDate.Format("2019-MM-dd"));
    $('#search-datetime-end').val(myDate.Format("yyyy-MM-dd"));
  }

  function initBind() {
    $("#tab-system").Huitab();
    runDatetimePicker(); // 实例化日期控件

    InitOverviewDataTable();
    Select_Single_Row();

    $(".textarea-article").Huitextarealength({
      minlength: 0,
      maxlength: 100
    });
  }

  function RefreshTable(b) {
    $('.table-sort').dataTable().fnDraw();
    if (b) {
      layer.msg('查询完成!', {icon: 6, time: 1000});
    }
  }

  function Select_Single_Row() {
    var table = $('.table-sort').DataTable();

    $('.table-sort tbody').on('click', 'tr', function () {
      if ($(this).hasClass('selected')) {
        $(this).removeClass('selected');
      } else {
        table.$('tr.selected').removeClass('selected');
        $(this).addClass('selected');
      }
    });
  }

  function InitOverviewDataTable() {
    $('.table-sort').dataTable({
      "bFilter": false, // 查询
      "bLengthChange": false, // 显示记录数
      "bSort": false, // 排序
      "pagingType": "full_numbers", // 分页按钮样式
      "bServerSide": true, // 表示从服务器加载数据
      "sAjaxSource": "{:url('search/FollowupSearch')}", //这个是请求的地址
      "fnServerData": retrieveData, // 获取数据的处理函数

      "columnDefs": [
        {"targets": [0], "visible": false}
      ]
    });
  }

  function retrieveData( sSource, aoData, fnCallback ) {
    aoData.push(
            {"name": "hid", "value": $('#id').val()},
            {"name": "dateMin", "value": $('#search-datetime-start').val()},
            {"name": "dateMax", "value": $('#search-datetime-end').val()},
            {"name": "aType", "value": $('#saType').val()}
    );

    $.ajax({
      "type": "post",
      "url": sSource,
      "data": {aoData: JSON.stringify(aoData)}, // 以json格式传递
      "dataType": "json",
      "async": false,
      "success": function (result) {
        fnCallback(result);
      }
    });
  }
</script>
<!--/请在上方写此页面业务相关的脚本-->

{include file="template/footer" /}