{include file="template/head" /}

<body>
<div class="wap-container">
  <article class="Hui-admin-content clearfix">
    <div class="panel">
      <div class="panel-body">
        <div class="row clearfix">

          <div class="col-xs-12 col-sm-3 col-md-2">
            <div class="row clearfix mb-10">
              <span class="col-xs-12 form-item-control">
                <span class="select-box">
                  <select class="select" id="sid">
                    {voList name="aList" id="al"}
                    <option value="{$al.id}">{$al.name}</option>
                    {/voList}
                  </select>
                </span>
              </span>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="row clearfix mb-10">
              <span class="col-xs-12 form-item-control">
                <button type="button" class="btn btn-success radius" onclick="RefreshTable()"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
                <button type="button" class="btn btn-primary radius" onclick="getTableContent('assetType')"><i class="Hui-iconfont">&#xe6a7;</i> 选择</button>
              </span>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="panel mt-20">
      <div class="panel-body">
        <div class="clearfix">
          <table class="table table-border table-bg table-sort">
            <thead>
            <tr class="text-c">
              <th width="250">唯一码</th>
              <th width="100">会计科目</th>
              <th width="500">描述</th>
            </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </article>
</div>

{include file="template/indexjs" /}
<script type="text/javascript" src="../lib/jquery.contextmenu/jquery.contextmenu.r2.js"></script>
<script type="text/javascript" src="../static/h-ui.admin.pro.iframe/js/h-ui.admin.pro.iframe.min.js"></script>
<script type="text/javascript" src="../lib/datatables/1.10.15/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="../static/business/js/main.js"></script>
<script type="text/javascript" src="../static/xoa/js/tool.js"></script>

<script type="text/javascript">
  var myDataTable;

  $(function(){
    initDataTable('.table-sort', 'AssetType');
  });

  function retrieveData( sSource, aoData, fnCallback ) {
    aoData.push(
      {"name": "sid", "value": $('#sid').val()}
    );

    $.ajax({
      "type": "post",
      "url": sSource,
      "data": {aoData: JSON.stringify(aoData)}, // 以json格式传递
      "dataType": "json",
      "async": false,
      "success": function (result) {
        fnCallback(result);
      }
    });
  }
</script>

{include file="template/footer" /}